<!DOCTYPE html>
<!-- Visualizador que realice un refresh cada "X" segundos. 
       -->
   <html>
      <head>
         <title>Visualizador de Goles</title>
          <link href='style.css' rel='stylesheet' type='text/css' />

         <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
         <meta http-equiv="refresh" content="3" /> <!-- refresco de la pagina-->
      </head>
      <!-- empieza el css -->
     <style>
         body{
            font-family: 'Righteous', cursive;     
            background-image: url("/static/sensor_web.png");  
            background-size: 1366px ;
         }

.marcador{     
   margin-top: 25% !important;
   margin-left: 45% !important;
   font-size: 115px;
   color: white;
   font-weight: bold;
}



      
   </style>
      <body style="background-image: url('/static/sensor_web.png');">
            
            <div class="marcador">
               <p>{{dat}}</p>
            </div>
            <!--
            <div class="equipoA">
               <p>Equipo A</p>
            </div>
            
            <div class="equipoB">
               <p>Equipo B</p>
            </div>
-->
      </body>
   </html>
