<!DOCTYPE html>
<html>
   <head>
      <style>
      body{
      
         background-color:#669900
         
      }
      div.a{
         text-align: center
      }
      
      div.marcador1{
         text-align: left
      }
      div.marcador2{
         text-align: right
      }
      </style>
      
      <title>Contador de Goles</title>
   </head>

   <body>
      <div class="a">
      <h1>
         Contador de Goles
      </h1>
      
      <h2>Aqui se mostrara el contador de goles </h2>
      </div>

      <div class="marcador1">
         <a href="https://www.contadorvisitasgratis.com" title="contador goles EQUIPO A"><img src="https://counter6.wheredoyoucomefrom.ovh/private/contadorvisitasgratis.php?c=c8lpgudcl4wcy4hba2h97scz2a6kb8d2" border="0" title="contador de goles EQUIPO A" alt="contador de goles EQUIPO A"></a>
      </div>
      <div class="marcador2">
         <a href="https://www.contadorvisitasgratis.com" title="contador goles EQUIPO B"><img src="https://counter6.wheredoyoucomefrom.ovh/private/contadorvisitasgratis.php?c=c8lpgudcl4wcy4hba2h97scz2a6kb8d2" border="0" title="contador de goles EQUIPO B" alt="contador de goles EQUIPO B"></a>
      </div>
      <h1>
            {{dat}}
      </h1>
   </body>
</html>
